<!-- OpenAPI Spec from Path -->
<div class="mb-3">
  <label for="rapid7-openapi-path" class="form-label">OpenAPI Specification Path</label>
  <div class="input-group">
    <input type="text" class="form-control" id="rapid7-openapi-path" name="rapid7OpenApiPath" placeholder="/Users/rvance/Downloads/openapi.json" value="/Users/rvance/Downloads/openapi.json">
    <button class="btn btn-outline-secondary" type="button" id="parse-rapid7-path">Parse</button>
  </div>
  <div class="form-text">Enter the path to the Rapid7 API OpenAPI specification file.</div>
</div>
